*{
    box-sizing: border-box;
}
:root{
    --bgcolor: #e0e0e0;
}
.chips{
    width: 500px;
    background-color: #fafafa;
    color: #000000de;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0.5rem;
  }
  
  .chip{
    background: #e0e0e0;
    color: #000000de;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .cancel{
    color: #000000de;
    border: none;
    font-size: 15px;
    background: #e0e0e0;
    cursor: pointer;
    padding: 0;
  }
  .cancel i{
    color: #000000de;
  }
.inputchips input{
    width: 500px;
    border: transparent;
    background: #fafafa;
    padding-top: 0.5rem;
}
input:focus {
    outline: none;
    border-width: 0;
  }